<%- include('../../shared/includes/head', { pageTitle: 'failure' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order failure</h1>

  </main>
<%- include('../../shared/includes/footer') %>